<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- 데이터베이스 연결을 설정합니다. 여러 개의 연결 설정을 구성할 수 있음, 단 id가 달라야 함 -->
    <!-- SqlSessionFactory 생성 시에 SqlSessionFactoryBuilder 에
         environment 옵션을 주지 않을 때, 디폴트로 로드되는 환경의 id를 default 속성에 설정 -->
   

    <!-- SQL문이 정의된 SQL 매퍼파일 위치와 파일이름을 지정 -->
    <mappers>
        <!-- 이클립스를 기준으로 src/main/java 폴더를 상대경로 기준으로, 매퍼파일이 존재하는 경로와 매퍼파일명을 기술 -->
       <!--  <mapper resource="mybatis/memberMapper.xml"/> --> 
       	<!--      <mapper resource="mybatis/memberMapper.xml"/> -->
       
    </mappers>
</configuration>

